/* 곡선 테두리 */
.card {
    border-radius: 20px !important;
}

select.form-control.form-control-sm {
    border-radius: 10px;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    overflow: hidden;
    border-radius: 10px;
}

#yes-deadline {
    border-collapse: collapse; !important;
}

/* 상단바 고정 */
header {
    position: fixed;
    width: 100%;
    z-index: 500;
    backdrop-filter: blur(7px);
}

section,
main {
    margin-top: 60px;
}

/* 상단바 투명화 */
.bg-top {
    backdrop-filter: blur(8px);
}

/* footer가 최하단에 있도록 합니다. 고정 아님! */
body {
    flex-direction: column;
    display: flex !important;
    height: 100vh;
}

main,
section {
    flex-grow: 1;
}

/* 향상된 버튼 */
.btn2,
.btn-learn,
.btn-gray {
    border-radius: 8px;
    padding: 9px;
}

.btn-gray {
    background-color: #363131 !important;
}

/* 로딩 화면 제거 */
.vld-overlay {
    z-index: -1000 !important;
}

/* 과목별 NOTICE와 수강과목 목록을 한 줄에 */
.card-row {
    display: flex;
    flex-direction: row;  /* 기본적으로 가로로 배치 */
}

@media (max-width: 1000px) {
    .card-row {
        flex-direction: column;  /* 세로로 배치 */
    }
}

.subjecttypenotice li {
    display: flex;
    flex-direction: column;
}

.subjecttypenotice .right {
    overflow: unset;
}
